{% extends 'layout.html' %}


{% block head %}
{% endblock head %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicos</title>
</head>

<body>
    <div class="conteiner">
        <form action="/panel_medicos" method="post">
            <label for="panel_medico">Usted que medico es? </label>
            <br>
            <br>
            <select name="panel_medico" id="panel_medico">

                <option value="pm1">Medico 1</option>
                <option value="pm2">Medico 2</option>
                <option value="pm3">Medico 3</option>
                <input type="submit" value="Identificarse">

            </select>
        </form>
    </div>

</body>

</html>
{% endblock content %}