{% extends 'layout.html' %}


{% block head %}
{% endblock head %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Medico</title>
</head>

<body>
    <div style="width: 500px;; margin:0 auto;">
        <div class="conteiner">
            <h2>Su paciente actual es:</h2>
            <ul>
                <li> {{ deso }} </li>
                <li>No tiene pacientes</li>
            </ul>
            <form action=" {{ url_for('/medico_1_descanso') }}">
            <input type="submit" value="Descansar">

            </select>

        </div>
    </div>

</body>

</html>
{% endblock content %}