{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <br>
        <!-- <a href="{{ url_for('index') }}">&larr; Retornar</a>-->
        <h1 class="display-4">Formulario de registro de turnos de medicos</h1>

        <br>
        <div class="conteiner">
            <h2>No hay medicos disponibles, por favor intente más tarde.</h2>
        </div>
        </br>
    </div>
    </div>
    {% endblock %}

</body>

</html>
