{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <br>
        <!-- <a href="{{ url_for('index') }}">&larr; Retornar</a>-->
        <h1 class="display-4">Formulario de registro de turnos de medicos</h1>
        <hr>

        <div class="conteiner">

            <form action="/guardar_turno" method="post">

                <label for="nombre">Nombre completo:</label>
                <input type="text" id="nombre" name="nombre"><br><br>
                <label for="edad">Edad:</label>
                <input type="text" id="edad" name="edad"><br><br>



                <label for="hombre_">Sexo Masculino</label>
                <input type="radio" name="sexo" id="sexo" value="hombre"><br>
                <label for="mujer_">Sexo Feminino</label>
                <input type="radio" name="sexo" id="sexo" value="mujer"><br>
                <label for="other_">Otro</label>
                <input type="radio" name="sexo" id="sexo" value="otros"><br><br>


                <label for="hijos">Hijos:</label>
                <input type="text" id="hijos" name="hijos"><br><br>
                <label for="dolencias">Dolencias:</label>
                <input type="text" id="dolencias" name="dolencias"><br><br>

                <div class="conteiner">

                    <label for="medico">Elija su medico: </label>
                    <br>
                    <br>
                    <select name="medico" id="medico">

                        <option value="m1">Medico 1</option>
                        <option value="m2" disabled>Medico 2</option>
                        <option value="m3">Medico 3</option>
                        <input type="submit" value="Reservar turno">



                    </select>
                    <br>
                    </br>
                    <!--                    <button name="medico" id="medico" type="button" {{ desa }} value="m1">Medico 1</button>
                    <button name="medico" id="medico" type="button" {{ desa }} value="m2">Medico 2</button>
                    <button name="medico" id="medico" type="button" {{ desa }} value="m3">Medico 3</button>-->
                </div>





            </form>
        </div>
    </div>
    {% endblock %}

</body>

</html>